<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="GoLiveConn" connectionString="Data Source=.\sqlexpress;Initial Catalog=GoLiveDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ExampleConn" connectionString="Data Source=.\sqlexpress;Initial Catalog=ExampleDB;Integrated Security=True" providerName="System.Data.SqlClient"/>

  </connectionStrings>
    <startup>
		<supportedRuntime version="v4.0" />
	</startup>
	<system.web>

		<customErrors mode="Off">
      	<error statusCode="500" redirect="error.html" />
			<error statusCode="404" redirect="error.html" />
			<error statusCode="403" redirect="error.html" /> 

		</customErrors>

	<sessionState timeout="40">
		</sessionState>
		<authentication mode="Forms">
			<forms defaultUrl="~/AdminControl/" loginUrl="~/SiteLogin.aspx" cookieless="UseCookies" timeout="100000"></forms>
		</authentication>
		
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>
		<identity impersonate="false" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
		</compilation>
			
		<pages validateRequest="false" enableViewStateMac="false" />

		<httpRuntime requestValidationMode="2.0" executionTimeout="110" maxQueryStringLength="16384" maxRequestLength="100000" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="90" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false" />
        <authorization>
            <allow users="?" />
            <allow users="*" />
        </authorization>


		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
		
	</system.web>
	<system.webServer>


		<modules>
			<add name="CuteEditor.UploadModule1" type="CuteEditor.UploadModule,CuteEditor" />
			<add name="CuteWebUI.UploadModule1" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader" />
		</modules>


		<security>
			<requestFiltering>
				<requestLimits maxUrl="10999" maxQueryString="2097151" />
			</requestFiltering>
		</security>

		<staticContent>
                <remove fileExtension=".WOFF" />
                <mimeMap fileExtension=".WOFF" mimeType="application/octet-stream" />
            </staticContent>

		<httpProtocol>
			<customHeaders>
				<remove name="Access-Control-Allow-Origin" />
				<remove name="Access-Control-Allow-Headers" />
				<add name="Access-Control-Allow-Headers" value="Origin,X-Requested-With,Content-Type,Accept" />
			</customHeaders>
		</httpProtocol>

		
		
		
	</system.webServer>


  <system.net>



  
  </system.net>
    <location path="posts">
    </location>


</configuration>
